name: Build MagiskOnWSALocal

on:
  workflow_dispatch:

jobs:
  build:
    name: Build WSA with Magisk
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Prepare environment
      run: |
        sudo apt update
        sudo apt install -y \
          python3 \
          python3-venv \
          python3-pip \
          aria2 \
          unzip \
          p7zip-full \
          whiptail \
          dialog \
          libnewt0.52 \
          python3-newt \
          xz-utils \
          lz4 \
          cpio


    - name: Set up Python venv
      run: |
        python3 -m venv venv
        . venv/bin/activate
        pip install --upgrade pip

    - name: Run non-interactive build
      run: |
        chmod +x ./scripts/run.sh \
          --arch x64 \
          --release-type retail \
          --magisk-ver stable \
          --root-sol magisk \
          --compress-format zip

    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: wsa-magisk-build
        path: ./output/
